.footer {
    width: 100vw;
    height: 78px;
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;

    background-color: #FFFFFF;
}